[submodule "tests/harness/modules/mordavokne"]
	path = tests/harness/modules/mordavokne
	url = ../mordavokne
	branch = master
[submodule "tests/harness/modules/morda-render-opengl"]
	path = tests/harness/modules/morda-render-opengl
	url = ../morda-render-opengl
	branch = rasterimage
[submodule "tests/harness/modules/morda-render-opengles"]
	path = tests/harness/modules/morda-render-opengles
	url = ../morda-render-opengles
	branch = rasterimage
[submodule "tool-configs"]
	path = tool-configs
	url = ../../cppfw/tool-configs
	branch = master
