debian/control
debian/files
debian/**/*.log
debian/**/*.substvars
debian/libmorda[0123456789].install
debian/tmp
debian/libmorda*/
debian/*.debhelper

*.[aod]
*.so
*.so.*

doc/doxygen/
doc/doxygen.cfg
doc/doxygen_sqlite3.db

nbproject/private/

pkg-config/morda.pc

