<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libjpeg_static" version="6.1.1.14" targetFramework="native" />
  <package id="libpapki" version="1.0.141" targetFramework="native" />
  <package id="libpng_static" version="1.6.39.1" targetFramework="native" />
  <package id="libr4" version="1.0.89" targetFramework="native" />
  <package id="librasterimage" version="0.1.16" targetFramework="native" />
  <package id="libutki" version="1.1.247" targetFramework="native" />
  <package id="zlib_static" version="1.2.11.12" targetFramework="native" />
</packages>