<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="cppfw.github.io.mordatests">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        />

    <application>
        <activity
            android:icon="@mipmap/ic_launcher"
            android:name="io.github.cppfw.mordavokne.MordaVOkneActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:hasCode="true"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="mordavokneapp"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
