<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="glew.v140" version="1.12.0" targetFramework="native" />
  <package id="libpapki" version="1.0.132" targetFramework="native" />
  <package id="libr4" version="1.0.75" targetFramework="native" />
  <package id="libtreeml" version="0.2.12" targetFramework="native" />
  <package id="libutki" version="1.1.214" targetFramework="native" />
  <package id="zlib_static" version="1.2.11.12" targetFramework="native" />
</packages>