<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="freetype_static" version="2.10.1.12" targetFramework="native" />
  <package id="glew.v140" version="1.12.0" targetFramework="native" />
  <package id="libagg" version="2.8.33" targetFramework="native" />
  <package id="libcssom" version="0.2.18" targetFramework="native" />
  <package id="libjpeg_static" version="6.1.1.14" targetFramework="native" />
  <package id="libmikroxml" version="0.1.69" targetFramework="native" />
  <package id="libnitki" version="1.0.91" targetFramework="native" />
  <package id="libopros" version="1.0.103" targetFramework="native" />
  <package id="libpapki" version="1.0.149" targetFramework="native" />
  <package id="libpng_static" version="1.6.39.1" targetFramework="native" />
  <package id="libr4" version="1.0.102" targetFramework="native" />
  <package id="librasterimage" version="0.1.32" targetFramework="native" />
  <package id="libsvgdom" version="0.4.28" targetFramework="native" />
  <package id="libsvgren" version="0.6.24" targetFramework="native" />
  <package id="libtml" version="0.2.23" targetFramework="native" />
  <package id="libutki" version="1.1.272" targetFramework="native" />
  <package id="libveg" version="0.1.5" targetFramework="native" />
  <package id="zlib_static" version="1.2.11.12" targetFramework="native" />
</packages>